/* Google font */
/* font-family: "Poppins", serif; */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;600;900&family=Poppins:ital,wght@0,400;0,600;0,700;0,900;1,500&display=swap');

/* font-family: "Edu AU VIC WA NT Pre", cursive; */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;600;900&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Poppins:ital,wght@0,400;0,600;0,700;0,900;1,500&display=swap');

*,p,h1,h3,h4,h2,h5,h6{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
:root{
	--bg:white;
	--bg-main:white;
}
body{
	background-color:var(--bg);
	padding-top:12vh;
	animation: overflow-hidden 6s backwards;
	overflow-x: hidden;
}
@keyframes overflow-hidden {
	0%{
	  min-height:88vh;
	  overflow:hidden;
	}
	100%{
		min-height:88vh;
		overflow:hidden;
	}
}

/* header styling */
header{
	width: 100%;
	height:12vh;
	position:fixed;
	top: 0;
	left: 0;
	background:var(--bg-main);
	box-shadow: 0 4px 10px rgba(0,0,0,.5);
	z-index: 99;
}
/* nav-bar */
nav{
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: baseline;
}
nav>div{
	align-self: center;
	display: flex;
	gap: 10px;
	align-items:baseline;
	h4,i{
	  font-size: 18px;
	}
	a{
	  text-decoration: none;
	  color: black;
	}
}
nav>div:hover{
	cursor: pointer;
	h4,a{
	  color: rgb(0, 91, 12);
	}
	i{
	  scale: 1.1;
	}
}
.icon>a{
	text-decoration: none;
}
.icon a h1
{
	color: rgb(130, 208, 130);
	font-weight: bold;
	font-family:"Edu AU VIC WA NT Pre", cursive;
	font-size: 28px;
	white-space:nowrap;
	text-shadow: 0px 0px 0px rgba(0, 128, 0, 0.502), 2px 2px 0px rgb(0, 128, 0);
	transition: all 300ms;
	span{
	  font-weight:lighter;
	}
	&:hover{
	  color: green;
	  text-shadow: none;
	}
}
.search-bar input{
	width: 340px;
	border:none;
	outline: none;
	padding: 5px 40px 5px 15px;
	font-size: 18px;
	border-radius: 5px;
	background-color:var(--bg);
}
.search-bar input:focus{
	box-shadow: 2px 2px 4px black;
	i{
	  scale: 1.1;
	}
}
.search-bar i{
padding:10px;
}

/* Animation start here */
.loading-animation{
	min-height:100vh;
	min-width:100vw;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color:rgb(150, 148, 148);
	display: flex;
	justify-content: center;
	align-items: center;
	animation: loading-animation 100ms ease-out 6s forwards;
	z-index: 100;
}
@keyframes loading-animation {
	50%{
	  opacity: .5;
	}
	100%{
	  opacity: 0;
	  z-index: -100;
	  display: none;
	}
}


.section1 img{
	width:100px;
	animation: image 3s  linear;
}
.section1{
	position: absolute;
	width: 400px;
	animation: round 3s  linear ;
}
.cricle{
	position: absolute;
	top: 0;
	left: 0;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color:white;
	animation: cricle 500ms ease-in-out 5.5s;
	scale: 0;
}
@keyframes cricle {
	100%{
	  scale: 100;
	}
}

.section2 img{
	width:100px;
	animation: image 3s  linear .5s;
}
.section2{
	position: absolute;
	width: 400px;
	animation: round 3s  linear .5s ;
}

.section3 img{
	width:100px;
	animation: image 3s  linear 1s;
}
.section3{
	position: absolute;
	width: 400px;
	animation: round 3s  linear 1s ;
}

.section4 img{
	width:100px;
	animation: image 3s  linear 1.5s;
}
.section4{
	position: absolute;
	width: 400px;
	animation: round 3s  linear 1.5s ;
}

.section5 img{
	width:100px;
	animation: image 3s  linear 2s;
}
.section5{
	position: absolute;
	width: 400px;
	animation: round 3s  linear 2s ;
}

.section6 img{
	width:100px;
	animation: image 3s  linear 2.5s;
}
.section6{
	position: absolute;
	width: 400px;
	animation: round 3s  linear 2.5s ;
}

@keyframes image {
	0%{
	  transform: rotate(360deg);
	}
	100%{
	   transform: rotate(0deg);
	   }
}
@keyframes round {
	0%{
	 transform: rotate(0deg);
	}
	100%{
		 transform: rotate(360deg);
	  }
}

/* main section start  here */
main .hero img{
	width: 100%;
	height:auto;
	margin:40px 0;
	border-radius: 10px;
}

/* product section */
.product img{
	width:120px;
}
h2{
	font-size: 28px;
}
p{
	font-size: 16px;
	color: gray;
}
.product-container{
	margin: 40px 0 60px;
	display: grid;
	column-gap:30px;
	row-gap: 40px;
	grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
}
.product-container>div{
	width: 150px;
	text-align: center;
	transition: all 300ms;
}
.product-container>div:hover{
	scale: 1.1;
	cursor: pointer;
	p{
	  color: black;
	}
}

/* Best Seller Section */

.bestseller-container{
	margin: 20px 0  40px;
	display: grid;
	gap: 10px;
	grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
	grid-auto-flow: row;
}
.bestseller-container-box{
	justify-self:center;
	margin: 10px 0;
	width: 250px;
	border-radius: 5px;
	position: relative;
	cursor: pointer;
	transition: all 300ms;
}
.bestseller-img img{
	width: 100%;
	border-radius: 5px;
}
.bestseller-img{
	position: relative;
}
.bestseller-container-box:hover{
	color: red;
	scale: 1.025;
}

.bestseller-container>div:last-child, .customer-say>div:last-child{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px 0;
	border-radius:5px;
	color:rgb(255, 0, 153);
	background-color: rgb(235, 193, 218);
	transition: all 300ms;
	font-size: 20px;
	box-shadow:inset -10px -20px 50px white;
	i{
	  margin:0 10px;
	  padding: 8px 0 0;
	}
	&:hover{
	  color: white;
	  background-color:rgb(255, 0, 153);
	}
}
.add-box{
	position: absolute;
	right:-10px;
	bottom:-10px;
	padding:6px 12px;
	font-size:18px;
	background-color:white;
	border-radius: 5px;
	box-shadow: 0 0 2px;
	cursor: pointer;
	transition: all 300ms;
}
.add-box:hover{
	background-color: gray;
	color: white;
}


.bestseller-text{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	  h6{
	  font-size: 18px;
	  margin:10px 0 15px;
	}
	p{
	  color: black;
	  line-height:2em;
	}
	span:first-child{
	  font-weight: bold;
	  margin-right:10px;
	}
	.off{
	  margin: 0 20px;
	  color:green;
	}
}
.delivery{
	display: flex;
	align-items: center;
	gap: 20px;
	img{
	  width: 25px;
	}
}

/* customer says section */
.customer-say{
	margin: 30px 0 60px;
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
	gap: 20px;
}
.customer-say img{
	width: 100%;
}
.customer-say>div{
	position: relative;
	transition: all 300ms;
}
.customer-say>div:hover{
	scale: 1.025;
	.fa-info{
	  opacity: 1;
	}
}
.fa-info{
	position: absolute;
	top: 10px;
	right: 10px;
	color:rgb(255, 0, 89);
	border: 2px solid;
	font-size: 18px;
	padding:3px 8px;
	border-radius: 50%;
	opacity: 0;
	transition: all 1s;
	cursor: pointer;
}

.text{
	display: grid;
	grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
	gap:30px;
	h3{
	  font-size:20px;
	  margin:20px 0;
	}
	h3:before{
	  content:'';
	  border: 1px solid rgb(255, 0, 89);
	  display: block;
	  width:40px;
	  margin:10px 0;
	}
	p{
	  font-size: 16px;
	  line-height: 2em;
	}
}
.login{
	margin:60px auto 40px;
	padding: 20px 50px;
	width: 80%;
	background-color:rgba(205, 0, 58,.2);
	border-radius: 10px;
	box-shadow: 0 0 10px ;

}
.login h1{
	text-align: center;
	font-size: 30px;
	margin: 0 0 20px;
	color:rgb(205, 0, 58);
}
label{
	font-size: 20px;
	display: block;
	margin: 10px 0 5px;
}
.name,.mail{
	display:grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 30px;
}
input, textarea{
	width:100%;
	border: none;
	outline: none;
	padding: 8px 10px;
	font-size:18px;
	border-radius:5px;
	resize: none;
	background-color:rgba(255, 255, 255, 0.605);
	transition: all 300ms;
}
input:focus, textarea:focus,
input:hover, textarea:hover
{
box-shadow: 0 0 10px rgba(0, 0, 0, 0.508);
background-color: white;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
}
button{
	margin: 10px 0 0;
	padding: 5px 30px;
	font-size: 20px;
	border: none;
	outline: none;
	border-radius: 5px;
	font-weight: 600;
	background-color: white;
	transition: all 300ms;
}
button:hover{
	background-color:rgb(205, 0, 58);
	color: white;
}
/* cites */
.cites-container{
	margin: 30px 0;
	padding: 30px 0;
}
.cites{
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	margin: 30px 0;	
	a{
		text-decoration: none;
		color:black;
		font-size: 16px;
		border-radius: 20px;
		padding: 4px 12px;
		background-color:rgba(205, 0, 58,.1);
	}
}
/* footer */
footer{
	display: flex;
	flex-wrap:wrap;
	justify-content: space-around;
	text-align: center;
	background-color:rgba(205, 0, 58,.2);
	padding: 20px;
	border-radius: 0 0 10px 10px;
}
footer>div{
	flex:1,0,100%;
}
footer h1{
	font-size: 24px;
	margin: 20px 0;
}
.footer-img{
	width: 100%;
	img{
	display:block;
	margin-bottom:30px;
	}
   img:hover{
	scale: 1.025;
	box-shadow:0px 0px 10px rgb(0, 0, 0);
	border-radius: 5px;
   }
}
footer h2{
	font-size:20px;
	line-height: 2em;
	color: black;
	&:hover{
		color:rgb(240, 82, 127);
		cursor: pointer;
	}
}
img[alt="sponsor"]{
	margin: 20px 0;
	width: 200px;
}
.copy-right h3{
	margin:10px 0;
	font-size: 20px;
	text-align: center;
}

/* media query for maximun width:1000px */
@media screen and (max-width:1000px) {
	.search-bar input{
	  width:100%
	}
	nav>div{
	  h4,i{
		font-size: 16px;
	  }
	}
	.location{
	  order: 2;
	}
	.mv-none{
	  display: none;
	}
}
/* media query width for medium devices */
@media screen and (max-width:578px) {
	main .hero img{
	aspect-ratio: 3/1;
	}
	.search-bar *{
	  display: none;
	}
	.loading-animation [class*=section]{
	  width:250px;
	  img{
		width: 80px;
	  }
	}

	.product img{
	  width:72px;
	  height: auto;
	}
	h2{
	  font-size: 20px;
	}
	p{
	  font-size: 16px;
	}
	.product-container{
	  row-gap: 40px;
	  grid-template-columns: repeat(auto-fit,minmax(100px,1fr));

	}
	.product-container>div{
	  width: 100px;
	  justify-self:center;
	}
	.name,.mail{
	  grid-template-columns: 1fr;
	}
	.login{
	  width: 100%;
	  padding: 20px;
	}
}